/* You can add global styles to this file, and also import other style files */

/* Boilerplate CSS for App */

.spacer {
    flex: 1;
    padding-left: 10px;
    text-align: center;
  }

.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: #000000e7;
    color: white;
    font-weight: 600;
  }

.main-content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

/* Basic App needs above styles for NavBar and Content */
